{% extends 'templates/layout.html' %}
{% load static %}

{% block style_block %}
{{ block.super }}

<link rel="stylesheet" type="text/css" href="/SfccPro/css/index.css" style=""/>

{% endblock %}


{% block main_block %}

<div id="banner-div" style="display:block; width:100%; height:800px; background-image:url({{ banner_image_url }}); background-position: center center; background-size:100%;">
</div>

<div class="home-card">
Welcoming
</div>  

<div class="home-card">
Scheduling
</div>

<div class="home-card">
Photography
</div>

<div class="home-card">
SFCC Shuttle
</div>

<div class="home-card">
Soundtech
</div>
{% endblock %}