{% extends 'templates/layout.html' %}
{% load static %}


{% block style_block %}
{{ block.super }}

<link rel="stylesheet" type="text/css" href="{% static "SfccPro/css/index.css" %}" />

{% endblock %}


{% block main_block %}

<div class="home-card-center-wrappers">
<div class="home-cards">
  <a class="home-card-links disabled" href="">Events</a>
</div>
</div>

<div class="home-card-center-wrappers">
<div class="home-cards">
  <a class="home-card-links disabled" href="">Announcements</a>
</div>
</div>

<div class="home-card-center-wrappers">
<div class="home-cards">
  <a class="home-card-links disabled" href="">Scheduling</a>
</div>
</div>

<!-- <div class="home-cards">
  <a class="home-card-links" href="">Welcoming</a>
</div> -->

<div class="home-card-center-wrappers">
<div class="home-cards">
  <a class="home-card-links" href="{% url 'Photography.gallery' %}">Photography</a>
</div>
</div>

<div class="home-card-center-wrappers">
<div class="home-cards">
  <a class="home-card-links" href="{% url 'Sermons.sermons' %}">Sermons</a>
</div>
</div>

<!-- <div class="home-card-center-wrappers">
<div class="home-cards">
  <a class="home-card-links" href="">Soundtech</a>
</div>
</div> -->

<!-- <div class="home-cards">
  <a class="home-card-links" href="">SFCC Shuttle</a>
</div> -->


{% endblock %}
