{% extends 'templates/layout.html' %}
{% load static %}


{% block style_block %}
{{ block.super }}

<link rel="stylesheet" type="text/css" href="{% static "Photography/css/gallery.css" %}"/>

{% endblock %}


{% block main_block %}

{% for thumbnail_url, fullsize_url in presigned_urls %}
<div class='gallery-tiles'>
  <a class='gallery-links' href="{{ fullsize_url }}">
    <span class="gallery-images" style="background-image: url('{{ thumbnail_url }}')">
    </span>
  </a>
</div>
{% endfor %}

{% endblock %}
