{% extends 'templates/layout.html' %}
{% load static %}


{% block style_block %}
{{ block.super }}

<link rel="stylesheet" type="text/css" href="{% static "Photography/css/gallery.css" %}"/>

{% endblock %}


{% block main_block %}

<div id="gallery-main-block">

  {% for thumbnail_url, fullsize_url in presigned_urls %}
  <div class="gallery-tiles">
    <a class="gallery-links" href="{{ fullsize_url }}">
      <img onload="this.style.opacity='1';" class="gallery-images" src="{{ thumbnail_url }}" />
    </a>
  </div>
  {% endfor %}

</div>

{% endblock %}
