.gallery-tiles {
  display: inline-block;

  padding: 10px;
}

.gallery-links {
  margin: 0;
  padding: 0;
}

.gallery-images {
  display: inline-block;
  margin: 0;
  padding: 0;

  position: relative;

  transition: all .2s ease-in-out;
}

.gallery-images:hover {
  transform: scale(1.1);
}
