.navbar .navbar-nav {
  display: inline-block;

  float: none;
}

.navbar .navbar-collapse {
  text-align: center;
}

#authentication {
  width: 100%;
  height: 50px;
}

#authentication-user-name-display {
  display :inline-block;

  padding: 15px;

  font-size: 1em;
}

.authentication-links {
  font-family: "Easy Street Alt EPS";
  font-size: 2em;
}
