.navbar .navbar-nav {
  display: inline-block;

  float: none;
}

.navbar .navbar-collapse {
  text-align: center;
}

#navigation {
  height: 100px;
}

.navigation-links {
  font-family: "Easy Street Alt EPS";
  font-size: 4em;
}

.navigation-container {
  margin-top: 25px;
  height: 100px;
}
