#navigation {
  height: 100px;

  text-align: center;
}

.navigation-links {
  font-family: "Easy Street Alt EPS";
  font-size: 4em;
}

.navigation-container {
  height: 100px;

  margin-top: 25px;
}
