<nav id="authentication" class="navbar navbar-default navbar-fixed-top">
  <div class="authentication-container container-fluid">

    {% if not request.user.is_authenticated %}

    <div class="authentication">
      <ul class="nav navbar-nav">
        <li>
          <a class="authentication-links" href="{% url 'account_login' %}">Log in</a>
        </li>
        <li>
          <a class="authentication-links" href="{% url 'account_signup' %}">Register</a>
        </li>
      </ul>
    </div>

    {% else %}

    <div class="authentication">
      <ul class="nav navbar-nav">
        <li>
          <span id="authentication-user-name-display">Logged in as <a href="">{{ request.user }}</a></span>
        </li>
<!--         <li>
          <a class="authentication-links" href="">Edit profile</a>
        </li> -->
        <li>
          <a class="authentication-links" href="{% url 'account_logout' %}">Log out</a>
        </li>
      </ul>
    </div>

    {% endif %}

  </div>
</nav>
