{% load static %}
<!DOCTYPE html>
<html>
<head>

<title>
{% block title %}
SFCC
{% endblock %}
</title>

<meta name="google-site-verification"
      content="tS63t3jzU1vMMlGKAkdNkszHACozw4WtNWb4J5_RFlc" />

{% block javascript_block %}
{% endblock %}

<script src="{% static "js/bootstrap.min.js" %}"></script>

<link rel="stylesheet" type="text/css" href="{% static "css/bootstrap.min.css" %}" />
<link rel="stylesheet" type="text/css" href="{% static "css/layout.css" %}" />

{% block style_block %}
{% endblock %}

</head>

<body>

{% block authbar_block %}
{% include 'templates/authbar.html' %}
{% endblock %}


{% block main_block %}
{% endblock %}

</body>
</html>
