<nav id="navigation" class="navbar navbar-default navbar-fixed-bottom">
  <div class="navigation-container container-fluid">

    <div class="navigation">
      <ul class="nav navbar-nav">
        <li>
          <a class="navigation-links" href="{% url 'SfccPro.Home' %}">Home</a>
        </li>
        <li>
          <a class="navigation-links" href="{% url 'Photography.gallery' %}">Photos</a>
        </li>
<!--         <li>
          <a class="navigation-links" href="{% url 'SfccPro.Home' %}">Sound</a>
        </li> -->
      </ul>
    </div>

  </div>
</nav>
